body{
	background-image:url(../Images/background.JPG);
}

#menu li{
	display:inline;
	list-style-type:none;
}

#menu a{
	color:#FFFFFF;
	padding:10px;
	text-decoration:none;
	font-family:Tahoma;
}

#menu{
	position: absolute;
	left: 675px;
	bottom: 580px;
	font:Tahoma;
}

#menu a:hover, a:active {
    color:yellow;
}

#header{
	color:white;
	font-size: 40px;
	background-color:black;
	width: 1000px;
	height: 100px;
	margin-left:auto;
	margin-right:auto;
        text-align:center; 
}

#header h3{
	font-family:Tahoma;
	position:absolute;
	left:auto;
	bottom:auto;
}

#footer{
	color:white;
	font-size: 14px;
	background-color:black;
	width: 1000px;
	height: 100px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	
}

#footer p{
	padding-top:37px;
	font-family:Tahoma;
}

#h3foot{
	font-family:Tahoma;
	padding-top:45px;
        left:auto;
	bottom:auto;
}


#content {
	color:white;
	background-color:grey;
	width:700px;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
        position:fixed;
}

#about {
	background-color:grey;
	width:1000px;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	position: relative;
}

#contact {
	background-color:grey;
	position: relative;
	width: 1000px;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}

#login_box {
	background-color:grey;
	width: 1000px;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	position: relative;
}
#content_left {
	position: absolute;
	background-color:grey;
	width:500px;
	height:200px;
	text-align:center;
	left:175px;
}

#content_right {
	position: relative;
	background-color:grey;
	width:500px;
	height:200px;
	text-align:center;
	margin: 0 auto;
	left:250px;
}

#content_left a {
	font-size:30px;
	color:#FFFFFF;
	text-decoration:none;
	font-family:Tahoma;
}

#content_right a {
	font-size:30px;
	color:#FFFFFF;
	text-decoration:none;
	font-family:Tahoma;
}

#content_left p {
	padding-top:60px;
}

#content_right p {
	padding-top:75px;
}

#content_left:hover {
    background-color:darkgrey;
}

#content_right:hover {
	background-color:darkgrey;
}

#calendar{
	width:575px;
	height:400px;
	margin-left:auto;
	margin-right:auto;
	margin-top: 50px;
	background-color:white;

}

#calendar div{
	width:75px;
	height:50px;
	margin:auto;
}

#content_table {
	text-align:center;
	background-color:grey;
	width:1000px;
	height:auto;
	margin-left:auto;
	margin-right:auto;
}

#content_table a {
	color:#FFFFFF;
	padding:10px;
	text-decoration:none;
	font-family:Tahoma;
}

#content_table a:hover, a:active {
    color:yellow;
}

table {
	margin-left:auto;
	margin-right:auto;
    border: 4px solid black;
    border-collapse: collapse;
	color:white;
}
td, th {
    border: 2px solid black;
    padding: .2em .5em .2em .5em;
 
    text-align: left;
}



